body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

#navbar-top {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#navbar-top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 50px;
}

.nav-menu {
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
  color: #fca61f;
  display: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.navbar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
}

.search-container input {
  margin-right: 10px;
  margin-left: 70px;
  height: 30px;
  width: 250px; /* Adjust the width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  border: none;
  background: #fca61f;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 10px;
}

/* Responsive styles using media query */
@media (max-width: 720px) {
  .nav-menu {
      display: block;
      z-index: 1;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      display: none;
      z-index: 1;
  }

  .navbar-nav.active {
      display: flex;
  }

  .nav-item {
      margin: 0;
  }

  .nav-link {
      display: block;
      padding: 15px;
      text-align: center; /* Center the text in small screens */
      color: black; /* Ensure the link color is visible */
  }

  .search-container {
      margin-left: 1px;
      margin-right: 10px;
  }

  .search-container input {
      width: 150px;
  }

  .search-container button {
      display: inline-block;
  }

  .btn {
      margin-right: 10px; /* Adjust the margin for better spacing */
  }
}
